<div class="wrapper-login">
	<div class="wrapper-logo">
		<img
			src="../../../assets/images/quest-logo.png"
			alt="" />
	</div>
	<div class="wrapper-login-form">
		<form
			[formGroup]="adminForm"
			(submit)="onSubmit()">
			<div class="wrapper-field">
				<mat-form-field appearance="fill">
					<mat-label>Enter your username</mat-label>
					<input
						matInput
						formControlName="username"
						type="texts" />
					<mat-error *ngIf="username.invalid">username is required</mat-error>
				</mat-form-field>
			</div>
			<div class="wrapper-field">
				<mat-form-field>
					<mat-label>Enter your password</mat-label>
					<input
						matInput
						type="password"
						formControlName="password" />
					<mat-error *ngIf="password.invalid">password is required</mat-error>
				</mat-form-field>
			</div>

			<button
				class="login-btn"
				[disabled]="isDisabled"
				mat-raised-button>
				Send
			</button>
		</form>
	</div>
</div>
