.wrapper-login-form {
	display: flex;
	align-items: center;
	justify-content: center;
}
:host {
	display: block;
	height: 100%;
}
.wrapper-logo {
	padding: 100px 20px 0;
	text-align: center;
	width: 200px;
	margin: 0 auto 50px;
}

.wrapper-login {
	background: #151515;
	padding: 10px;
	height: 100%;
	box-sizing: border-box;
	background: #151515 url('../../../assets/images/the-quest.jpg') no-repeat center;
	background-size: cover;
}

.mat-mdc-raised-button.login-btn {
	background: #151515;
	width: 100%;
	color: #dab66b;
	text-transform: uppercase;
}
